{% extends "layout.html" %}

{% block body %}
    <div class="div">
        <br><br><br><br>
        <h3>
            Welcome to the PharmaSymptom Guide!
        </h3><br>
        <p>
            Our aim is to empower you with over-the-counter solutions for your health concerns like flu, solar burns and smoking cessation.
            Answer a few questions to receive personalized recommendations and start taking control of your health by making informed choices for a healtier tomorrow.
            Feel free to try!
        </p>
        <br>
        <form action="/" method="post">
            <label for="symptoms">Choose your health concern:</label>

            <select name="symptoms">
                <option value="flu">Flu</option>
                <option value="smoking cessation">Smoking cessation</option>
                <option value="solar burn">Solar burn</option>
            </select><br><br><br>
            <button class="btn btn-outline-primary btn-lg" type="submit">Get started</button>
        </form>
    </div>
{% endblock %}
