{% extends "layout.html" %}

{% block body %}
    <div class="div">
        <br><br><br>
        <p>Some of the most important <b>non-pharmacological measures</b> are:</p><br>
        <ul>
            <li><b>Drink liquids</b> to stay hydrated</li><br>
            <li><b>Wear light clothes</b>, if you have fever</li><br>
            <li><b>Eat honey</b>, if you have a sore throat</li><br>
            <li><b>Rest</b></li>
        </ul>
        <br>
        <a href="{{ url_for('index') }}">
            <button id="homepage" class="btn btn-outline-primary btn-sm">Homepage</button>
        </a>
    </div>
{% endblock %}
