{% extends "layout.html" %}

{% block body %}
    <div class="div">
        <br><br><br>
        <form action="/symptoms" method="post">
            <h5>Select your symptoms from the following list:</h5><br>
            <input type="checkbox" id="dry_cough" name="symptoms" value="Dry cough"></input>
            <label for="dry_cough">Dry Cough</label><br>
            <input type="checkbox" id="chesty_cough" name="symptoms" value="Chesty cough"></input>
            <label for="chesty_cough">Chesty Cough</label><br>
            <input type="checkbox" id="fever" name="symptoms" value="Fever"></input>
            <label for="fever">Fever</label><br>
            <input type="checkbox" id="rhinorrhea" name="symptoms" value="Rhinorrhea"></input>
            <label for="rhinorrhea">Rhinorrhea</label><br>
            <input type="checkbox" id="congested_nose" name="symptoms" value="Congested nose"></input>
            <label for="congested_nose">Congested Nose</label><br>
            <input type="checkbox" id="sore_throat" name="symptoms" value="Sore throat"></input>
            <label for="sore_throat">Sore throat</label><br><br><br>
            <a href="">
                <button class="btn btn-outline-primary btn-lg">Select symptoms</button>
            </a>
        </form>
        <a href="{{ url_for('index') }}">
            <button id="homepage" class="btn btn-outline-primary btn-sm">Homepage</button>
        </a>
    </div>
{% endblock %}
