{% extends "layout.html" %}

{% block body %}
    <div class="div">
        <br><br><br><br><br>
        <p>Some <b>non-pharmacological measures</b> can also be very important to break this habit:</p>
        <br>
        <ul>
            <li><b>Physical exercise</b> - reduces the desire to smoke and withdrawal symptoms</li><br>
            <li>Alternative medicines - <b>acunpucture and hypnosis</b></li><br>
            <li>Communicate to your family and friends the <b>decision to quit smoking</b></li><br>
            <li><b>Schedule a date</b> to stop smoking</li><br>
            <li><b>Set aside the money</b> you would spend on cigarettes</li><br>
        </ul>
        <br>
        <a href="{{ url_for('index') }}">
            <button id="homepage" class="btn btn-outline-primary btn-sm">Homepage</button>
        </a>
    </div>
{% endblock %}